.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 50vh;
    position: relative;
}

.bannerText {
    color: white;
    position: relative;
    top: 10vh;
    z-index: 20;
    text-align: center;
}
